.hljs {
        background: #000830;
    }

.hljs-type {
        color: #76b748
    }

.hljs-string {
        color: #EACF47
    }

.hljs-meta { /*аннотации*/
        color: #e3dd3e
    }

.hljs-number {
        color: #6897BB
    }

p {
        margin-block-start: 0;
    }

/*Code Header*/
/* .code-header { */
/*         content: url("codeHeader.svg"); */
/*         margin-bottom: 0 !important; */
/*         max-width: 100% !important; */
/*     } */

/* .slides { */
/*         width: 100% !important; */
/*     } */
.code-header ~ .code-wrapper {
        width: 100% !important;
        margin-top: -2%;
        max-height: 500px !important;
    }

.reveal pre code {
        max-height: 500px;
    }

/*Left title*/
section[data-state=title-slide] {
        margin: 0;
        height: 600px;
    }

/*Left text*/
h2 {
        text-align: left;
    }
h3 {
        text-align: left;
    }

/*Left markers*/
ul {
        margin-left: 0 !important;
        display: block !important;
    }

/*Color of controls (arrows)*/
.reveal .controls {
        color: #fff;
    }


.block {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }

#title-img {
        padding-left: 0;
        padding-right: 100%;
        width: 200px;
    }

.title{
        margin-top: 15% !important;
        text-align:left;
    }

.subtitle {
        text-align:left;
    }

.author {
        margin-top: 16% !important;
        width: fit-content;
        position: absolute;
    }

#about-column {
        width: 100%;
        background-color: #B0B9C4;
        margin: -100px 0 -100px -100px;
        height: 140%;
        position: relative;
    }

#about-column img {
        width: 200px;
        margin-top: 130px;
        margin-left: 20px;
    }

#about-travel-img {
        position: absolute;
        bottom: 20px;
        left: 0px;
        width: 400px !important;
    }

#about-block {
        width: 200%;
        height: auto;
        margin-top: -15px;
        margin-bottom: -200px;
        padding: 0;
        flex-direction: column;
    }

#about-block p {
        text-align: center;
    }

#about-block img {
        width: 280px;
        margin: 180px auto 0 -390px;
        border-radius: 200px;
    }

#about-contacts {
        margin-left: 55px;
        text-align: left;
    }

.about-contacts-line {
        display: block;
        vertical-align: middle;
        left: 0;
        margin-left: auto;
    }

#about-contacts img {
        width: 40px;
        margin: 0 0 -9px 0;
    }

#about-contacts p {
        font-size: 30px;
        display: inline;
        vertical-align: middle;
    }

.circle {
        display: inline-block;
        border-radius: 50%;
        border-style: solid;
        border-width: 8px;
        border-color: white;
        background-color: rgba(0, 0, 0, 0);
        transform: translate(-50%, -50%);
        position: absolute;
        top: 300% !important;
        left: 50%;
        pointer-events: none;
    }

.first-circle{
        width: 240px;
        height: 240px;
    }

.second-circle{
        width: 160px;
        height: 160px;
    }

.third-circle{
        width: 80px;
        height: 80px;
    }

.red-border{
        /* border-color: red; */
        box-shadow: 0px 0px 15px red;
    }

.green-border{
        /* border-color: ; */
        box-shadow: 0px 0px 15px green;
    }

p {
        text-align: center;
    }

#slides-qr {
        height: 45vh;
    }

.figure img {
        height: 45vh;
    }
